<body>
  <div>
      <div class="container">
          <nav>           
              <div class="banchon">
                  <a href="index.html">TRANG CHỦ</a>
                  <a href="Dao.html">DẠO</a>
                  <a href="#">GIỎ HÀNG</a>
                  <a href="TaiKhoan.html">TÀI KHOẢN</a>
              </div>         
          </nav>    
          <article>
              <div class="nap">
                  <div class="menu">
                      <input type="search" placeholder="Tìm kiếm tại đây..." >
                      <a href="#">Phổ biến</a>  
                      <a href="#">Mới nhất</a>  
                      <a href="#">Bán chạy</a>  
                      <a href="#">Sale </a>                      
                  </div> 
              </div>
              <div class="poster">  
                  <div class="anh2">
                  <a href="#"><img src="../assets/690-300-690x300-4.png" width="105%" height="49.5%"></a>
                  <br>
                  <a href="#"><img src="../assets/690-300-690x300-25.png"width="105%" height="49.5%"></a>
                  </div>
                  <div class="anh1">
                      <a href="#"><img src="../assets/screenshot_1642495320.png" width="100%" height="342"></a>
                  </div> 
              </div> 
              <div class="mucluc">
                  <legend>Danh mục</legend>
                  <div class="danhmuc">
                      <a href="#">
                          <img src="../assets/th.jpg" width="120px" height="120px">
                          <div class="chu" >Máy lạnh</div>
                      </a>
                  </div>
                  <div class="danhmuc">
                      <a href="#">
                          <img src="../assets/th (1).jpg" width="120px" height="120px">
                          <div class="chu">Máy giặc</div>
                      </a>
                  </div>
                  <div class="danhmuc">
                      <a href="#">
                          <img src="../assets/e7b6cdd8c96aafcb81be32775cbe2333.jpg" width="120px" height="120px">
                          <div class="chu">Tủ lạnh</div>
                      </a>
                  </div>
                  <div class="danhmuc">
                      <a href="#">
                          <img src="../assets/136666_0aa3a2a4-33c2-46b5-87c2-91867cc0a0de.jpg" width="120px" height="120px">
                          <div class="chu">Ti vi</div>
                      </a>
                  </div>
                  <div class="danhmuc">
                      <a href="#">
                          <img src="../assets/do-dan-dung-gia-dung.jpg" width="120px" height="120px">
                          <div class="chu">Đồ gia dụng</div>
                      </a>
                  </div>
                  <div class="danhmuc">
                      <a href="#">
                          <img src="../assets/depositphotos_11500226-stock-photo-set-of-household-appliances-isolated.jpg" width="120px" height="120px">
                          <div class="chu">Điện gia dụng</div>
                      </a>
                  </div>
                  <div class="danhmuc">
                      <a href="#">
                          <img src="../assets/thhnthwn-cable.jpg" width="120px" height="120px">
                          <div class="chu">Dây điện</div>
                      </a>
                  </div>
                  <div class="danhmuc">
                      <a href="#">
                          <img src="../assets/tamarac-8w-led-filament-vintage-a19-lamp-clear-6-pack-19.jpg" width="120px" height="120px">
                          <div class="chu">Bóng đèn</div>
                      </a>
                  </div>
                  <div class="danhmuc">
                      <a href="#">
                          <img src="../assets/bb29f07906deff2bfc77eb6cfda309ba_tn.jpg" width="120px" height="120px">
                          <div class="chu">Máy hút bụi</div>
                      </a>
                  </div>
                  <div class="danhmuc">
                      <a href="#">
                          <img src="../assets/559513ee57ff8cb41118b85cceacbde9_tn.jpg" width="120px" height="120px">
                          <div class="chu" >Máy quạt</div>
                      </a>
                  </div>
              </div>
              <div>
                  <img src="../assets/Midea-Tet800-200-800x200.png" width="100%">
              </div>                                                    
              <div class="ochuaSP">
                  <legend>Gợi ý cho bạn</legend>
                  <br>
                  <br>
                  <div class="column">
                      <a href="SanPham.html">
                          <div class="san-pham">                           
                              <img src="../assets/th (2).jpg" />
                              <div class="ten">Dây điện đôi mềm lõi nhiều sợi 2x1.5mm</div>
                              <div class="gia">
                                  <del>7,500đ</del> - 6,000đ
                              </div>
                              <div class="mua">Mua</div>
                          </div>
                      </a>
                  </div>
                  <div class="column">
                      <a href="">
                          <div class="san-pham">                           
                              <img src="../assets/42aad50d7533b962096cd532ef750659_tn.jpg" />
                              <div class="ten">Đèn chớp đủ màu 5M/10M có đầu nối tiếp</div>
                              <div class="gia">
                                  <del> 18,000đ</del> - 12,000đ
                              </div>
                              <div class="mua">Mua</div>
                          </div>
                      </a>
                  </div>               
                  <div class="column">
                      <a href="">
                          <div class="san-pham">                            
                              <img src="../assets/d73b51045e3eb63ccace14b08b50159f_tn.jpg" />
                              <div class="ten">Bếp điện SAST 2200W - bếp từ đơn cao cấp</div>
                              <div class="gia">
                                  <del>826,000đ</del> - 413,000đ
                              </div>
                              <div class="mua">Mua</div>
                          </div>
                      </a>
                  </div>
                  <div class="column">
                      <a href="SanPham.html">
                          <div class="san-pham">                           
                              <img src="../assets/326ef922754ca624cb28343944b8a5d1_tn.jpg" />
                              <div class="ten">Dây điện đôi mềm lõi nhiều sợi 2x0.5mm</div>
                              <div class="gia">
                                  <del>6,500đ</del> - 4,000đ
                              </div>
                              <div class="mua">Mua</div>
                          </div>
                      </a>
                  </div>
                  <div class="column">
                      <a href="">
                          <div class="san-pham">                           
                              <img src="../assets/4c1886c805d9f994a3027bfe4aed87b3_tn.jpg" />
                              <div class="ten">Dây chớp xanh dương 8M</div>
                              <div class="gia">
                                  <del></del> 13,000đ
                              </div>
                              <div class="mua">Mua</div>
                          </div>
                      </a>
                  </div>
                  <div class="column">
                      <a href="">
                          <div class="san-pham">                            
                              <img src="../assets/559513ee57ff8cb41118b85cceacbde9_tn.jpg" />
                              <div class="ten">Máy Quạt Senko điều kiển từ xa TR1628</div>
                              <div class="gia">
                                  <del>669,000đ</del> - 442,000đ
                              </div>
                              <div class="mua">Mua</div>
                          </div>
                      </a>
                  </div>
                  <div class="column">
                      <a href="">
                          <div class="san-pham">                           
                              <img src="../assets/923a20c6f49249f5b786e6b2e83e64cd_tn.jpg" />
                              <div class="ten">Bóng cấm chạy đa năng 3W/ 5W/7W</div>
                              <div class="gia">
                                  <del></del>25,000đ - 36,000đ
                              </div>
                              <div class="mua">Mua</div>
                          </div>
                      </a>
                  </div>
                  <div class="column">
                      <a href="">
                          <div class="san-pham">                            
                              <img src="../assets/b0078cda97c240a37079dcfc5b6fe951_tn.jpg" />
                              <div class="ten">Đèn LED để bàn mini 14 kiểu dáng tùy chọn</div>
                              <div class="gia">
                                  <del>90,000đ</del> - 83.000đ
                              </div>
                              <div class="mua">Mua</div>
                          </div>
                      </a>
                  </div> 
                  <div class="column">
                      <a href="">
                          <div class="san-pham">                            
                              <img src="../assets/734ed50e6282804da6a631df5c6533ea_tn.jpg" />
                              <div class="ten">Ổ cấm Điện Quang 5 ổ cắm, 5 công tắt 2m, 5m</div>
                              <div class="gia">
                                  <del></del> 156,000đ - 218,000đ
                              </div>
                              <div class="mua">Mua</div>
                          </div>
                      </a>
                  </div>    
                  <div class="column">
                      <a href="">
                          <div class="san-pham">                            
                              <img src="../assets/bb29f07906deff2bfc77eb6cfda309ba_tn.jpg" />
                              <div class="ten">Máy hút bụi cầm tay deerma DX116C</div>
                              <div class="gia">
                                  <del></del> 590.000đ
                              </div>
                              <div class="mua">Mua</div>
                          </div>
                      </a>
                  </div> 
                  <div class="column">
                      <a href="">
                          <div class="san-pham">                            
                              <img src="../assets/f6f113156094db735d945c52abad18b2_tn.jpg" />
                              <div class="ten">Đèn chùm phòng khách 15 tay DCH603 - Tặng kèm bóng</div>
                              <div class="gia">
                                  <del>3,360,000đ</del> - 2,206,000đ
                              </div>
                              <div class="mua">Mua</div>
                          </div>
                      </a>
                  </div>
                  <div class="column">
                      <a href="">
                          <div class="san-pham">                           
                              <img src="../assets/29841172659f51bff3eb69e154640f60_tn.jpg" />
                              <div class="ten">Bóng đèn led màu vàng nắng</div>
                              <div class="gia">
                                  <del> 30,000đ</del> - 28,000đ
                              </div>
                              <div class="mua">Mua</div>
                          </div>
                      </a>
                  </div>
                  <div class="column">
                      <a href="">
                          <div class="san-pham">                            
                              <img src="../assets/4435c2193cac5ed01f908ef18a0c84b5_tn.jpg"/>
                              <div class="ten">Máy in để bàn-máy khâu siêu tiện lợi</div>
                              <div class="gia">
                                  <del>360,000đ</del> - 226,000đ
                              </div>
                              <div class="mua">Mua</div>
                          </div>
                      </a>
                  </div>
                  <div class="column">
                      <a href="">
                          <div class="san-pham">                           
                              <img src="../assets/42aad50d7533b962096cd532ef750659_tn.jpg" />
                              <div class="ten">Đèn chớp đủ màu 5M/10M có đầu nối tiếp</div>
                              <div class="gia">
                                  <del> 18,000đ</del> - 12,000đ
                              </div>
                              <div class="mua">Mua</div>
                          </div>
                      </a>
                  </div>               
                  <div class="column">
                      <a href="">
                          <div class="san-pham">                            
                              <img src="../assets/d73b51045e3eb63ccace14b08b50159f_tn.jpg" />
                              <div class="ten">Bếp điện SAST 2200W - bếp từ đơn cao cấp</div>
                              <div class="gia">
                                  <del>826,000đ</del> - 413,000đ
                              </div>
                              <div class="mua">Mua</div>
                          </div>
                      </a>
                  </div>
              </div>
          </article>
          <footer>
              <div class="chan">
                  <h4>CONTACT US</h4>
                  <p>
                       <a href="">Hotline & Online chat (24/7)</a>
                       <br>
                       <a href="">	Help Center</a><br>
                       <a href="">How to Buy</a><br>
                       <a href="">Shipping & Delivery</a><br>
                       <a href="">International Product Policy</a><br>
                       <a href="">How to Return</a>   <br>  
                  </p>
              </div>
              <div class="chan">
                  <h4>About E-SHOP</h4>
                  <p>	
                       <a href="">Sell on Lazada</a> <br>
                       <a href="">Afﬁliate Program</a> <br>
                       <a href="">Careers</a> <br>
                       <a href="">Terms & Conditions</a> <br>
                       <a href="">Privacy Policy</a> <br>
                       <a href="">Intellectual Property Protection</a> <br>
                       <a href="">Operating Regulation</a> <br>
                       <a href="">Procedure of claim and dispute handling  </a>  
                  </p>
              </div>
              <div class="chan">
                  <div class="phanchan">
                       <img src="../assets/TB1jyJMv.H1gK0jSZSyXXXtlpXa-184-120 (1).png" width="100%">
                       <img src="../assets/O1CN01Bd0sVV1QY5gSQHbMq_!!6000000001987-2-tps-160-160.png" width="100%">\
                       <img src="../assets/TB1Jnytq7L0gK0jSZFAXXcA9pXa-160-84.png" width="100%">
                  </div>
                  <div class="phanbenkia">
                       <img src="../assets/TB1cULQc5qAXuNjy1XdXXaYcVXa-373-140.png" width="100%">
                       <img src="../assets/TB1iRzQc5qAXuNjy1XdXXaYcVXa-374-142.png" width="100%">
                       <img src="../assets/TB1fj5Nfr_I8KJjy1XaXXbsxpXa-373-140.png" width="100%">
                  </div>
              </div>
              <div class="chan">
               <h4>E-SHOP - LEADING ONLINE SHOPPING CHANNEL!</h4>
               <p>	
                   E-SHOP is Asia’s leading online department store offering a fast, secure and convenient online shopping experience with a broad product offering in categories ranging from fashion, consumer electronics to household goods, toys and sports equipment. Lazada is always striving to offer its customers the best possible offering – including multiple payment options, free returns and extensive customer service and warranty commitments. 
               </p>
           </div>
           </footer>
         </div>
  </div>
</body>